.icon-phone-hangup{
    background-image: url("../img/icomoon_free_32/0068-phone-hang-up.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.icon-phone{
    background-image: url("../img/icomoon_free_32/0067-phone.png");
    background-repeat: no-repeat;
    background-position: center center;
}
